{% extends "templates/base.twig" %}
{% block contenu %}
	<div class="panel panel-default">
		<div class="panel-body">
			<p class="text-center text-danger text">* champs obligatoires</p>
			{% include 'templates/messages.twig' %}
			<form method="POST" class="form-horizontal" name="addQuestion">
				<div class="form-group">
					<label for="titre" class="col-md-2 control-label">Titre*</label>
					<div class="col-md-10">
						<input type="text" name="titre" class="form-control" id="titre" placeholder="Titre" maxlength="63" value="{{ question.titre }}" required>
					</div>
				</div>
				<div class="form-group">
					<label for="question" class="col-md-2 control-label">Question*</label>
					<div class="col-md-10">
						<textarea name="question" id="question" class="form-control" rows="25" cols="10" required>{{ question.question }}</textarea>
					</div>
					<script>
		                CKEDITOR.replace('question');
					</script>
				</div>
				<div class="form-group">
					<label for="mots-cles" class="col-md-2 control-label">Mots-clés</label>
					<div class="col-md-10">
						<select name="id_mot_cle[]" class="form-control" id="mots-cles" multiple="multiple">
							{% for motCle in motsCles %}
								<option value="{{ motCle.id_mot_cle }}"
										{% for id_mc in question.motsCles %}
											{% if motCle.id_mot_cle == id_mc.id_mot_cle %}selected{% endif %}
										{% endfor %}
								>{{ motCle.label }}</option>
							{% endfor %}
						</select>
					</div>
					<script>
						$(document).ready(function() {
							$('#mots-cles').multiselect({
								buttonWidth: '100%',
								nonSelectedText: 'Aucun mot-clé sélectionné',
								nSelectedText: ' mots-clés sélectionnés',
								filterPlaceholder: 'Rechercher un mot-clé',
								enableFiltering: true,
								maxHeight: 400,
								dropUp: true
							});
						});
					</script>
				</div>
				<div class="form-group">
					<label for="resoluOui" class="col-md-2 control-label">Résolu*</label>
					<div class="col-md-10">
						<label class="radio-inline">
							<input type="radio" name="resolu" id="resoluOui" value="1" required {% if question.resolu %}checked{% endif %}> Oui
						</label>
						<label class="radio-inline">
							<input type="radio" name="resolu" id="resoluNon" value="0" required {% if not question.resolu %}checked{% endif %}> Non
						</label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" class="btn btn-default" value="Envoyer">
					</div>
				</div>
				<input type="hidden" name="jetonCSRF" value="{{ session.jetonCSRF }}">
			</form>
		</div>
	</div>
{% endblock %}