{% extends "templates/base.twig" %}
{% block contenu %}
	<section class="row">
		<div class="panel panel-default">
			<div class="panel-body">
				{{ technote.contenu | raw }}
				<hr>
				<div>
					{% for motCle in technote.motsCles %}
						<a href="motscles/get/{{ motCle.id_mot_cle }}">{{ motCle.label }}</a>
					{% endfor %}
				</div>
				<div class="text-right">
					créé par <a href="#">{{ technote.auteur }}</a> le {{ technote.date_creation | date('d/m/Y à H:i') }}
					{% if technote.date_modification %}
						<br>
						modifié par <a href="#">{{ technote.modificateur }}</a> le {{ technote.date_modification | date('d/m/Y à H:i') }}
					{% endif %}
				</div>
			</div>
		</div>
		<hr>
		<h4 class="text-center">Commentaires</h4>
		<div class="col-md-offset-2 col-md-8">
			<div class="panel panel-default">
				<div class="panel-body">
					Com
				</div>
			</div>
		</div>
	</section>
{% endblock %}