{% extends "templates/base.twig" %}
{% block contenu %}
	<section class="row">
		<div class="panel panel-default">
			<div class="panel-body">
				{% if technote.auteur == session.user.pseudo or session.user.groupe == 'Administrateur' or session.user.groupe == 'Modérateur' %}
					<div>
						<button type="button" class="btn btn-primary" id="modifierTechnote" data-id_technote="{{ technote.id_technote }}">Modifier</button>
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#dropTechnoteConfirmModal">Supprimer</button>
					</div>
					<div class="modal fade" id="dropTechnoteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">{{ technote.titre }}</h4>
								</div>
								<div class="modal-body">
									Voulez-vous vraiment supprimer cette technote ?
								</div>
								<div class="modal-footer">
									<form method="POST" action="/technotes/drop/{{ technote.id_technote }}" class="form-horizontal" name="dropTechnote">
										<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
										<input type="hidden" name="jetonCSRF" value="{{ session.jetonCSRF }}">
										<input type="submit" class="btn btn-danger" value="Supprimer">
									</form>
								</div>
							</div>
						</div>
					</div>
					<hr>
				{% endif %}
				{{ technote.contenu | raw }}
				<hr>
				<div>
					{% for motCle in technote.motsCles %}
						<a href="motscles/get/{{ motCle.id_mot_cle }}">{{ motCle.label }}</a>{% if not loop.last %},{% endif %}
					{% endfor %}
				</div>
				<div class="text-right">
					créé par <a href="#">{{ technote.auteur }}</a> le {{ technote.date_creation | date('d/m/Y à H:i') }}
					{% if technote.date_modification %}
						<br>
						modifié par <a href="#">{{ technote.modificateur }}</a> le {{ technote.date_modification | date('d/m/Y à H:i') }}
					{% endif %}
				</div>
			</div>
		</div>
		<hr>
		<h4 class="text-center">Commentaires</h4>
		<div class="col-md-offset-2 col-md-8">
			<div class="panel panel-default">
				<div class="panel-body">
					{% include 'templates/messages.twig' %}
					<div id="divCommentaires">
						{% if technote.commentaires %}
							{% include 'templates/commentaire.twig' with {'commentaires': technote.commentaires} %}
						{% endif %}
						{% if session.user %}
							<div>
								<form method="POST" action="/commentaires/add/" class="form-horizontal" name="addCommentaire">
									<div class="form-group">
										<label for="commentaire" class="col-sm-2 control-label">Commentaire*</label>
										<div class="col-sm-10">
											<textarea class="form-control" rows="3" name="commentaire" id="commentaire" placeholder="Commentaire" maxlength="2047" required>{{ post.commentaire }}</textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-10">
											<input type="submit" class="btn btn-default" value="Envoyer">
										</div>
									</div>
									<input type="hidden" name="id_technote" value="{{ technote.id_technote }}">
									<input type="hidden" name="jetonCSRF" value="{{ session.jetonCSRF }}">
								</form>
							</div>
						{% else %}
							<div class="alert alert-info" role="alert">
								<div class="flex">
									<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
									<ul>
										<li>Vous devez être connecté pour laisser un commentaire</li>
									</ul>
								</div>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}