{% extends "mail/mail_base.twig" %}
{% block titre %}
	{{ sujet }}
{% endblock %}
{% block pseudo %}
	{{ pseudo }}
{% endblock %}
{% block contenu %}
	<p>
		Quelqu'un à demandé à réinitialiser votre mot de passe Technote.
	</p>
	<p>
		Si vous êtes bien l'auteur de cette action, <a href="http://technote.dev/membre/edit?cle={{ cle }}">cliquez ici</a>,<br>
		ou copier le lien suivant dans votre navigateur : <br>
		<a href="http://technote.dev/membre/edit?cle={{ cle }}">http://technote.dev/membre/edit?cle={{ cle }}</a>
	</p>
{% endblock %}
