{% for commentaire in commentaires %}
	<div class="commentaire">
		<span class="id_commentaire" hidden>{{ commentaire.id_commentaire }}</span>
		<b class="texte-bleu">{{ commentaire.auteur | capitalize }}</b> : <span class="texteCommentaire">{% if commentaire.visible %}{{ commentaire.commentaire | raw }}{% else %}<span class="commentaireSupprimer">// Commentaire supprimé</span>{% endif %}</span><br>
		{% if commentaire.visible %}
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						{% if session.user %}
							<a class="repondreCommentaire">Répondre</a>
							{% if session.user.pseudo == commentaire.auteur or session.user.groupe == 'Administrateur' or session.user.groupe == 'Modérateur' %}
								• <a class="modifierCommentaire">Modifier</a> •
								<a class="supprimerCommentaire" data-nameForm="dropCommentaire">Supprimer</a>
								<form method="POST" action="/commentaires/drop/{{ commentaire.id_commentaire }}" class="form-horizontal" name="dropCommentaire">
									<input type="hidden" name="jetonCSRF" value="{{ session.jetonCSRF }}">
								</form>
							{% endif %}
						{% endif %}
					</div>
					<div class="col-md-6 text-right">
						<span class="dateCommentaire">
							{{ commentaire.date_creation | date('d/m/Y à H:i') }}
							{% if commentaire.modificateur %}
								<span class="glyphicon glyphicon-pencil infosModificaton" aria-hidden="true" title="modifié par {{ commentaire.modificateur }} le {{ commentaire.date_modification | date('d/m/Y à H:i') }}"></span>
							{% endif %}
						</span>
					</div>
				</div>
			</div>
			{% if commentaire.commentaires is not null %}
				{% include 'templates/commentaire.twig' with {'commentaires': commentaire.commentaires} %}
			{% endif %}
		{% endif %}
	</div>
{% endfor %}